.counter-list{
    margin-bottom: 30px;
    li{
        margin-bottom: 10px;
        a{
            display: block;
            text-decoration: none;
            color: $color-black;
        }
    }
}