.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.pl-1{
  padding-left: 10px !important;
}
.bgc-blue{
  background-color: $color-blue;
}
.bgc-magenta{
  background-color: $color-magenta;
}
.bgc-magenta-secondary{
  background-color: $color-magenta-secondary;
}
.bgc-purple-deep{
  background-color: $color-purple-deep;
}
.bgc-brown-secondary{
  background-color: $color-brown-secondary;
}
.bgc-blue{
  background-color: $color-blue;
}
.bgc-blue-secondary{
  background-color: $color-blue-secondary;
}
.bgc-blue-navy{
  background-color: $color-blue-navy;
}
.bgc-blue-deep{
  background-color: $color-blue-deep;
}
.bgc-gray-blue{
  background-color: $color-gray-blue;
}
.bgc-white{
  background-color: $color-white;
}
.bgc-black{
  background-color: $color-black;
}