doctype html
html
    head
        block title
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(type='text/css' rel='stylesheet' href='./bundle.css')
    body
        block main
        script(src='./bundle.js')